{% extends 'layouts/base.html.twig' %}

{% block title 'Edit password' %}
{% block body %}
<div class="row mt-5 mb-5">
    <div class="col-md-6 text-center mx-auto">
        <h1 class="h3 mt-5 my-3 text-center">Edit password</h1>
        {{ form_start(form)}}
        {{ form_rest(form)}}

        <button class="btn btn-primary btn-lg btn-block">Update password </button>
        {{ form_end(form)}}
    </div>
</div>


{% endblock %}
{% block javascripts %}
{% endblock %}