{% extends 'base.html.twig' %}

{% block title "New pin" %}

{% block body %}

<div class="example-wrapper">

    <h2>Create a new pin</h2>

    {{form_start(form) }}
    {{form_rest(form)}}
    <button type="submit">Add!</button>
    {{form_end(form) }}
</div>
{% endblock %}