{% extends 'layouts/base.html.twig' %}

{% block title "New pin" %}

{% block body %}

<div class="example-wrapper">

    <h2>Create a new pin</h2>
    {{ include('pins/_form.html.twig') }}
</div>
{% endblock %}