{% extends 'base.html.twig' %}

{% block title  %}Edit pin - {{pin.title}} {% endblock %}

{% block body %}

<div class="example-wrapper">

    <h2>Edit pin</h2>

    {{form_start(form) }}
    {{form_rest(form)}}
    <button type="submit">Edit!</button>
    {{form_end(form) }}
</div>
{% endblock %}