{% extends 'layouts/base.html.twig' %}

{% block title %}Edit pin #{{ pin.id }} - {{ pin.title }} {% endblock %}

{% block body %}
    <h2>Edit pin</h2>
    {{ include('pins/_form.html.twig', {btnText: 'Edit'}) }}
{% endblock %}

{% block javascripts %}{% endblock %}