{% extends 'layouts/base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
{% for flashError in app.flashes('reset_password_error') %}
<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}

<div class="row">
    <div class="col-md-6 mx-auto">

        <h1 class="h3 mt-5 mb-3 font-weight-normal text-center">Reset your password</h1>
        <p class="mb-3 text-muted text-center">
            Enter your email address and we we will send you a link to reset your password.
        </p>
        {{ form_start(requestForm, { 'attr': {'novalidate': 'novalidate'} } ) }}
        {{ form_row(requestForm.email) }}

        <button class="btn btn-primary btn-block btn-lg mb-5">Send password reset email</button>
        {{ form_end(requestForm) }}
    </div>
</div>
{% endblock %}