<footer class="container text-center">
    <p class="text-muted">
        <small>
            &copy; {{ 'now' | date('Y') -1 }} &middot; Built with <span class="text-danger">&hearts;</span> by <a href="https://aminelch.github.io">aminelch</a>
        </small>
    </p>

</footer>