{% extends "layouts/base.html.twig" %}


{% block body %}

<div class="row mt-5 my-5 ">
    <div class="col-md-6 mx-auto">
        <h1 class="text-danger">Oops! An Error Occurred </h1>
        <h2 class="text-center">404 error</h2>
        <p class="text-center text-muted">
            Something is broken. Please let us know what you were doing when this error occurred.
            <p class="text-center">
                <a href="{{ path('app_home') }}">Go back to homepage</a>
            </p>
        </p>
    </div>
</div>
{% endblock %}